<div class="btn-toolbar">
  <div class="filter btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
    <label class="btn btn-default" title="all">
      <input type="radio" name="all"> {{total}}
    </label>
    <label class="btn btn-danger" title="failed">
      <input type="radio" name="failed"> {{failed}}
    </label>
    <label class="btn status-aborted" title="aborted">
      <input type="radio" name="aborted"> {{aborted}}
    </label>
    <label class="btn btn-warning" title="unstable">
      <input type="radio" name="unstable"> {{unstable}}
    </label>
    <label class="btn btn-success" title="succeed">
      <input type="radio" name="succeed"> {{succeed}}
    </label>
    <label class="btn btn-info" title="pending">
      <input type="radio" name="pending"> {{pending}}
    </label>
    <label class="btn status-disabled" title="disabled">
      <input type="radio" name="disabled"> {{disabled}}
    </label>
    <label class="btn btn-default" title="in-progress">
      <input type="radio" name="in-progress"> {{in_progress}}
    </label>
  </div>
</div>
