<div class="btn-toolbar">
  <div class="filter btn-group btn-group-sm btn-group-justified" data-toggle="buttons">
    <label class="btn btn-primary" title="all">
      <input type="radio" name="options" id="option1"> {{total}}
    </label>

    <label class="btn btn-danger" title="failed">
      <input type="radio" name="options" id="option1"> {{failed}}
    </label>
    <label class="btn btn-default" title="aborted">
      <input type="radio" name="options" id="option1"> {{aborted}}
    </label>
    <label class="btn btn-warning" title="unstable">
      <input type="radio" name="options" id="option1"> {{unstable}}
    </label>
    <label class="btn btn-success" title="succeed">
      <input type="radio" name="options" id="option1"> {{succeed}}
    </label>
    <label class="btn btn-info" title="pending">
      <input type="radio" name="options" id="option1"> {{pending}}
    </label>
    <label class="btn btn-default" title="disabled">
      <input type="radio" name="options" id="option1"> {{disabled}}
    </label>

    <label class="btn btn-default" title="in-progress">
      <input type="radio" name="options" id="option1"> {{in_progress}}
    </label>
  </div>
</div>
